/**
 * Variables
 */

/*---------------------------------------
# Typography.
----------------------------------------*/
$font: 'Roboto', sans-serif;
$heading-font: 'Old Standard TT', serif;

/*---------------------------------------
# Animation & Transitions.
----------------------------------------*/
$transition: 0.25s;

/*---------------------------------------
# Global Colours.
----------------------------------------*/
$white: #FFFFFF;
$black: #000000;
$error: red;


/*---------------------------------------
# Site Specific Colours.
----------------------------------------*/


/*---------------------------------------
# Social Media Colours.
----------------------------------------*/
$facebook-blue:  #3b5998;
$twitter-blue:   #00aced;
$linkedin-blue:  #007bb6;
$google-red:     #dd4b39;
$pinterest-red:  #cb2027;
$youtube-red:    #ff0000;
$flickr-pink:    #ff0084;
