a {
  text-decoration: none;
  color: inherit;
  
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.main {

  a {
    text-decoration: none;
  
    &:not([class]) {
      color: currentColor;
      text-decoration: underline;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}