p,
ul:not([class]),
ol:not([class]) {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  padding-left: 1.1em;

  li:not([class]) {
    margin: 1.5em 0;
  }
}

address {
  font-style: normal;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
